@use "global" as *;

.blog-license-body__inner {

    @include mq("md") {
        display: flex;
    }
}

.blog-license-body__main {

    @include mq("md") {
        width: calc((69.074% - rem(40)));
    }
}

.blog-license-body__date {
    font-size: rem(14);
    line-height: 1;
    background-color: $white;
}

.blog-license-body__title {
    margin-top: rem(8);
    font-size: rem(24);
    font-weight: $medium;
    line-height: 1.4375;
    border-bottom: rem(1) solid $green1;
    background-color: $white;

    @include mq("md") {
        font-weight: rem(32);
    }
}

.blog-license-body__text {
    line-height: 1.5;
}

.blog-license-body__item + .blog-license-body__item {
    margin-top: rem(4);
}

.blog-license-body__item-text span {
    line-height: 1.5;
    padding-left: rem(27);
    position: relative;
}

.blog-license-body__item-text span::before {
    position: absolute;
    content: "";
    width: rem(18);
    height: rem(18);
    background-image: url(../images/common/list-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.blog-license-body__button-wrap {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.blog-license-body__side {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: 0;
        margin-left: rem(80);
        width: calc((30.926% - rem(40)));
    }
}