@use "global" as *;

.blog-body__inner {

    @include mq("md") {
        display: flex;
    }
}

.blog-body__main {

    @include mq("md") {
        width: calc((69.074% - rem(40)));
    }
}

.blog-body__side {
    margin-top: rem(80);

    @include mq("md") {
        margin-top: 0;
        margin-left: rem(80);
        width: calc((30.926% - rem(40)));
    }
}

.blog-body__button-wrap {
    margin-top: rem(80);
}