@use "global" as *;

.breadcrumbs-white__items {
    display: flex;
}

.breadcrumbs-white__item + .breadcrumbs-white__item {
    margin-left: rem(8);
}

.breadcrumbs-white__item:not(:first-child) {
    position: relative;
    padding-left: rem(13);
}

.breadcrumbs-white__item:not(:first-child)::after {
    content: "";
    position: absolute;
    width: rem(4);
    height: rem(8);
    background-image: url(../images/common/breadcrumbs-error-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
}

.breadcrumbs-white__item {
    text-transform: uppercase;
    font-size: rem(14);
    font-family: 'Noto Sans JP';
    color: $white;
}