@use "global" as *;

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #202020, $alpha: 0.8);
    z-index: 9998;
}