@use "global" as *;

.side-bar__cards {
    margin-top: rem(24);
}

.side-bar__card + .side-bar__card {
    margin-top: rem(40);
}

.side-bar__item + .side-bar__item {
    margin-top: rem(80);
}

.side-bar__voice-cards {
    margin-top: rem(24);
}

.side-bar__voice-button {
    margin-top: rem(40);
    text-align: center;
}

.side-bar__cards {
    margin-top: rem(40);
}

.side-bar__card {
    margin-top: rem(40);
}

.side-bar__campaign-button {
    margin-top: rem(40);
    text-align: center;
}

.side-bar__archive {
    margin-top: rem(24);
}