@use "global" as *;

.voice-body__tabs {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(21);
    row-gap: rem(16);

    @include mq("md") {
        column-gap: rem(32);
    }
}

.voice-body__tab {
    width: rem(162);
    padding: rem(6) 0;
    align-items: center;
    font-family: 'Noto Sans JP';
    font-size: rem(14);
    background-color: $white;
    color: $green1;
    border: rem(1) solid $green1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.voice-body__tab.current {
    background-color: $green1;
    color: $white;
}

.voice-body__content-group {
    margin-top: rem(40);
}

.voice-body__content-wrap {
    display: none;
    width: 100%;
}

.voice-body__items {
    
    @include mq("md") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(80);
    }
}

.voice-body__item + .voice-body__item {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: 0;
    }
}

.voice-body__button-wrap {
    margin-top: rem(80);
}
